/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Author     : Anuradha
*/
header {
    background-color: #99ff99;
    color: black;
    text-align:center;
    padding:5px;
}
nav {
    background-color: #99ccff;
    margin: 0px;
    padding: 0px;
    font-size: large;
    text-align:center;
}
a:link{
    color: #003366;
    text-decoration:underline;
}
a:active{
    color: #003366;
    text-decoration: underline;
}
a:visited{
    color: #003366;
    text-decoration: underline;
}
#navigation_bar {
    clear: both;
    margin: 0;
    padding: 0;
    text-align: center;
}
#navigation_bar ul {
    margin-bottom: .5em;
    list-style: none;
    padding-top: .5em;
}

#navigation_bar li {
    display: inline;
}

section {
    line-height:50px;
    background-color: #99ccff;
    height:900px;
    width:170px;
    float: left;
    padding:5px;
}
aside {
    width: 700px;
    height: 800px;
    float:left;
    padding:30px;	 	 
}
#selected {
    color: red;
}
footer {
    background-color: #cc0000;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;	 	 
}

.top_right{
    text-align: right;
    color: white;
    padding: 0px;
    margin: 0px;
    border: 0px;
}
a.item:link {color: #000099; }
a.item:visited {color: #000099; }
